/* .OverviewPlotOption{
	color: black;
	width: 100px;
	margin-left:-12px;
	border: solid 2px blue;
}

.DetailPlotsOption{
	color: black;
	width:100px;
	margin-left: -12px;
	border: solid 2px blue;

}



.switchBar{

	width: 100%
}

.OverviewPlotOption:hover{
	background-color: blue;
	color: white;
}

.DetailPlotsOption:hover{
	background-color: blue;
	color: white;
} */

.detailPlot3{
	display:flex;
}

.detailPlot1{
	display:flex;
}

.select{
	display:flex;
}



.detailPlot2{
	display:flex;
}

.overviewPlot{
	display:flex;
	
}

.overview{
	display:flex;
	
}
.zoomIn{
	margin:auto;
	display:block;
}
.volcToCompare{
	display:flex
}

/* .DropDownHistogram{
	margin-bottom: 20px;
} */

.ternaryPlots{
	display: flex;
	margin-top: 9%;
}

.sunBurstPlots{
	display: flex
}

.binaryPlots{
	display: flex
}

.histogramPlot{
	display:flex;
	
}

.a{
	margin-left:0%;
}

.boxPlot{
	margin-left:3.5%
}

.barChart{
	margin-left:3%;
	margin-top:4%
}

.b{
	display:flex
}

.dp{
	display:flex
}

/* .histogramDropDown{
	display:flex;
	margin-left:-30px

} */

.eleToCompare{
	display:flex;
}

/* .binaryDropDown{
	display:flex;
} */

