


.infoDisplay h1{
	
	color: white;
	margin-left: 100px;
  	font-family: 'Courier New', Courier, monospace; 
  	text-align: left;
	
}

.Row1{
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: auto;
	background-image: url('../../assets/backGroundImage/header_background.jpeg');
	border-radius: 10px;
	height: 255px;

}



.jj {
	height: 100px;
	width: 100px;
	
}

.giantImage img{
	margin-top: 50px;
	margin-right: 200px;
	height: 150px;
	width: 250px;
	border: solid white 5px;
  border-radius: 5px;
}

.mButton {
	display: flex;
	
}

.nextButton {
	width: 50%;
	margin-left: 85%;
}

.prevButton {
	width: 50%;
	margin-left: 1.7%;
  	
}

.dragBox {
	position: absolute;
	
	height: 222px;

    	background:rgba(0,0,0,0.8);
	
	opacity: 0.7;
    	
}

.DD{
	position: absolute;
	margin-top: 50px;
	width: 100%;
	height: 222px;
}

.dropdown{
	margin-left: 90%;
}



